@font-face {
    font-family: vazirNormal;
    src: url('assets/font/Vazir-Regular.ttf') format('truetype'),
        url('assets/font/Vazir-Regular.woff') format('woff'),
        url('assets/font/Vazir-Regular.woff2') format('woff2'),
        url('assets/font/Vazir-Regular.eot') format('eot');
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

p, a {
    font-family: vazirNormal, sans-serif;
}

a {
    text-decoration: none;

    color: hsl(0, 0%, 0%);
}

ul {
    list-style-type: none;
}

main {
    background-color: hsl(0, 2%, 81%);
}

main .articles .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .articles .title h2{
    padding-top: 9rem;

    font-size: 3rem;
}

main .articles .title div button{
    display: flex; 

    background-color: rgb(22, 181, 239);

    border-radius: 2rem;

    height: 5rem;
    width: 5rem;
}

main .articles .articleslides {
    display: flex;
    justify-content: center;

    gap: 5rem;

    height: 10rem;
}

main .articles .articleslides * {
    flex: 1;
}